.center {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    width: 50%;
}

.name_input {
    appearance: none;
    background: none;
    border: none;
    color: white;
    font-size: 36px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
    outline: none;
}
  
.center .name_input::placeholder {
    color: white;
    opacity: 0.7;
}

.center .greetings {
    font-size: 4em;
    margin-bottom: 20px;
}
  
.center .name {
    margin-bottom: 30px;
}
