.toDo_Input{
    width: 80%;
    font-size: 2em;
    display: inline-block;
    text-align: center;
    margin-bottom: 0.5em;
}

.toDo_Input:focus{
    opacity: 0.7;
    outline: none;
}

.toDoList{
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    width: 100%;
    height:25vh;
}

.todo-item{
    font-size: 2em;
    align-items: center;
    width: 100%;
}

.done-todo{
    text-decoration: line-through;
}

.todo-info{
    text-align: center;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 0.9;
}

.todo-checkbox{
    width: .8em;
    height: .8em;
    float: left;
    cursor: pointer;
    margin-top: .7%;
    opacity: 0.5;
    transition: opacity 0.2s ease-in;
}

.todo-checkbox:hover{
    opacity: 0.8;
}

.remove-todo{
    width: .8em;
    height: .8em;
    float: right;
    cursor: pointer;
    margin-top: .7%;
    opacity: 0.5;
    transition: opacity 0.2s ease-in;
}

.remove-todo:hover{
    opacity: 0.8;
}