.weather {
    font-size: .7em;
    position: absolute;
    top: 1.5em;
    right: 2em;
}
  
.temperature{
    font-size: 2em;
    vertical-align: 50%;
    font-style: italic;
}

.location{
    text-align: end;
}